In [4]:
import pandas as pd
client1=['majid',990,500,12345]
client2=['jury',890,200,45612]
client3=['ali',1000,400,67895]
df=pd.DataFrame([client1,client2,client3],columns=['name','salary','withdraw','phone number'])
print(df)

    name  salary  withdraw  phone number
0  majid     990       500         12345
1   jury     890       200         45612
2    ali    1000       400         67895